# NO PORT variable - main server controls this
CLINIC_MONGO_URI=[CLINIC-MONGO-URI]
MONGO_URI=[IMS-MONGO-URL]
JWT_SECRET=clinic_secret_key_here
SUPER_ADMIN_EMAIL=super@clinic.com
SUPER_ADMIN_PASSWORD=super123
APP_BASE_URL=http://localhost:5173
SMS_API_KEY=your_sms_api_key